.vscode/

csv_test

test/
backend/web_scraper/web_scraper_env/
backend/web_scraper/__pycache__/
backend/web_scraper/tests/
hmhm.py
backend/tests_results/
keys.py

frontend/node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/temp.db

web_scraper/

venv/

test.py

logs/

web_scraper_2/

tests_results/

scraping_results/
return.txt
backend/api/return2.json

output.txt

backend/csv_adjusted/
backend/graph_results/
backend/graph2_results/

/.env

notebook/notebook_output/
notebook/executed_notebook.ipynb
notebook/temp_notebook.ipynb

backend/.env


frontend/public/graphs