.vscode/

csv_test

test/
backend/web_scraper/web_scraper_env/
backend/web_scraper/__pycache__/
backend/web_scraper/tests/
hmhm.py
backend/tests_results/
keys.py

frontend/node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
backend/temp.db

web_scraper/
